.side_bar {
    width: 70px;
    left: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top:10px
}

.side_icon {
    padding-top: 10px;
    width: 30px;
}

.side_button {
    margin-top: 0px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.15s;
}

.side_button:hover {
    background-color: rgba(0, 0, 0, .05);
}
.side_button:active{
        background-color: rgba(0, 0, 0, .1);
}

.side_text {
    font-family: "roboto";
    margin-top: 0px;
    text-align: center;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
}