.video-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-left: 70px;
    margin-top: 50px;
    max-width: 1200px;
}
.video-holder{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 10px;
    transition: opacity 0.15s;
    cursor: pointer;
}
.video-holder:hover{
    opacity: .5;
}
.video-holder:active{
    opacity: .8;
}
a {
  text-decoration: none;
}

.title_text{
    color: black;
    padding-left: 5px;
    margin: 0px; 
    font-size: 12px; 
    font-weight: 500;
}
.channel_text{

    padding-top: 5px;
    padding-left: 5px;
    margin: 0px; 
    font-size: 10px; 
    color: rgb(56, 56, 56)
}
.view_text{
    padding-top: 5px;
    padding-left: 5px;
    margin: 0px; 
    font-size: 10px; 
    color: rgb(56, 56, 56)
}